<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <h2 class="text-center provider-name">Facebook</h2>
            <div class="row">
                <div class="col-xs-12 scroll-box">
                    <div class="post-container"
                         ng-repeat="media in activity | filter:{ provider: 'facebook'} track by $index ">
                        <div class="inner-container">
                            <a href="{{media.actor_url}}" target="_blank">
                                <img ng-src="{{media.actor_avator}}" class="img-responsive avatar">
                            </a>
                            <p class="title">
                                <a href="{{media.actor_url}}" target="_blank">
                                    <span class="name">{{media.actor_username}}</span>
                                </a><br>
                                {{media.activity_date}}</p>
                            <div class="thumblikes">
                                <a ng-click="liked(media)">
                                    <i class="fa fa-thumbs-o-up thumb" aria-hidden="true"></i></a>{{media.activity_likes}}
                            </div>
                            <p ng-if="media.activity_message.includes('jpeg') === false" class="message">
                                {{media.activity_message}}</p>
                            <img ng-src="{{media.activity_attachment}}" class="img-responsive">
                            <div class="comment"><a ng-click="commentShow = !commentShow">Comments:</a> {{media.activity_comments}}</div>
                            <div class="share"><a ng-click="shareShow = !shareShow">Shares:</a> {{media.activity_shares}}</div>
                            <div ng-show="commentShow" class="text-center"><textarea class="form-control" placeholder="Type comment here"></textarea>
                                <button type="button" ng-click="addComment(media); commentShow = !commentShow" class="btn btn-primary" style="margin-top: 5px;">Submit</button></div>
                            <div ng-show="shareShow" class="text-center sharecons">
                                <a ng-click="shared(media)"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <h2 class="text-center provider-name">Instagram</h2>
            <div class="row">
                <div class="col-xs-12 scroll-box">
                    <div class="post-container" ng-repeat="media in activity | filter:{ provider: 'instagram'}">
                        <div class="inner-container">
                            <a href="{{media.actor_url}}" target="_blank">
                                <img ng-src="{{media.actor_avator}}" class="img-responsive avatar">
                            </a>
                            <p class="title">
                                <a href="{{media.actor_url}}" target="_blank">
                                    <span class="name">{{media.actor_username}}</span>
                                </a><br>
                                {{media.activity_date}}</p>
                            <div class="thumblikes">
                                <a ng-click="liked(media)">
                                    <i class="fa fa-thumbs-o-up thumb" aria-hidden="true"></i></a>{{media.activity_likes}}
                            </div>


                            <p ng-if="media.activity_message.includes('jpeg') === false" class="message">
                                {{media.activity_message}}</p>
                            <img ng-src="{{media.activity_attachment}}" class="img-responsive">
                            <div class="comment"><a ng-click="commentShow = !commentShow">Comments:</a> {{media.activity_comments}}</div>
                            <div class="share"><a ng-click="shareShow = !shareShow">Shares:</a> {{media.activity_shares}}</div>
                            <div ng-show="commentShow" class="text-center"><textarea class="form-control" placeholder="Type comment here"></textarea>
                                <button type="button" ng-click="addComment(media); commentShow = !commentShow" class="btn btn-primary" style="margin-top: 5px;">Submit</button></div>
                            <div ng-show="shareShow" class="text-center sharecons">
                                <a ng-click="shared(media)"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <h2 class="text-center provider-name">Twitter</h2>
            <div class="row">
                <div class="col-xs-12 scroll-box">
                    <div class="post-container" ng-repeat="media in activity | filter:{ provider: 'twitter'}">
                        <div class="inner-container">
                            <a href="{{media.actor_url}}" target="_blank">
                                <img ng-src="{{media.actor_avator}}" class="img-responsive avatar">
                            </a>
                            <p class="title">
                                <a href="{{media.actor_url}}" target="_blank">
                                    <span class="name">{{media.actor_username}}</span>
                                </a><br>
                                {{media.activity_date}}</p>
                            <div class="thumblikes">
                                <a ng-click="liked(media)">
                                    <i class="fa fa-thumbs-o-up thumb" aria-hidden="true"></i></a>{{media.activity_likes}}
                            </div>


                            <p ng-if="media.activity_message.includes('jpeg') === false" class="message">
                                {{media.activity_message}}</p>
                            <img ng-src="{{media.activity_attachment}}" class="img-responsive">
                            <div class="comment"><a ng-click="commentShow = !commentShow">Comments:</a> {{media.activity_comments}}</div>
                            <div class="share"><a ng-click="shareShow = !shareShow">Shares:</a> {{media.activity_shares}}</div>
                            <div ng-show="commentShow" class="text-center"><textarea class="form-control" placeholder="Type comment here"></textarea>
                                <button type="button" ng-click="addComment(media); commentShow = !commentShow" class="btn btn-primary" style="margin-top: 5px;">Submit</button></div>
                            <div ng-show="shareShow" class="text-center sharecons">
                                <a ng-click="shared(media)"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <h2 class="text-center provider-name">Tumblr</h2>
            <div class="row">
                <div class="col-xs-12 scroll-box">
                    <div class="post-container" ng-repeat="media in activity | filter:{ provider: 'tumblr'}">
                        <div class="inner-container">
                            <a href="{{media.actor_url}}" target="_blank">
                                <img ng-src="{{media.actor_avator}}" class="img-responsive avatar">
                            </a>
                            <p class="title">
                                <a href="{{media.actor_url}}" target="_blank">
                                    <span class="name">{{media.actor_username}}</span>
                                </a><br>
                                {{media.activity_date}}</p>
                            <div class="thumblikes">
                                <a ng-click="liked(media)">
                                    <i class="fa fa-thumbs-o-up thumb" aria-hidden="true"></i></a>{{media.activity_likes}}
                            </div>


                            <p ng-if="media.activity_message.includes('jpeg') === false" class="message">
                                {{media.activity_message}}</p>
                            <img ng-src="{{media.activity_attachment}}" class="img-responsive">
                            <div class="comment"><a ng-click="commentShow = !commentShow">Comments:</a> {{media.activity_comments}}</div>
                            <div class="share"><a ng-click="shareShow = !shareShow">Shares:</a> {{media.activity_shares}}</div>
                            <div ng-show="commentShow" class="text-center"><textarea class="form-control" placeholder="Type comment here"></textarea>
                                <button type="button" ng-click="addComment(media); commentShow = !commentShow" class="btn btn-primary" style="margin-top: 5px;">Submit</button></div>
                            <div ng-show="shareShow" class="text-center sharecons">
                                <a ng-click="shared(media)"><i class="fa fa-retweet" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a ng-click="shared(media)"><i class="fa fa-instagram" aria-hidden="true"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>