<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-5 col-md-offset-1 col-xs-12 text-center graphs">
                    <!--bar chart-->
                    <h2>Posts per Provider Bar Chart</h2>
                    <ul class="chart" style="width:{{width}}px; height:{{height}}px;">
                        <!-- Labels -->
                        <div class="y" style="width:{{height}}px;">{{barYAxis}}</div>
                        <div class="x">{{barXAxis}}</div>
                        <!-- Data -->
                        <li ng-repeat="bar in data" class="bar"
                            style="height:{{bar.value / max * height}}px; width:{{width / data.length - 5}}px; left:{{$index / data.length * width}}px;">
                            <span>{{bar.label}}: {{bar.value}}</span></li>
                    </ul>
                </div>
                <div class="col-md-5 col-xs-12 text-center graphs">
                    <h2>Likes per Date Dot Chart</h2>
                    <ul class="chart" style="width:{{width}}px; height:{{height}}px;">
                        <!-- Labels -->
                        <div class="y" style="width:{{height}}px;">{{lineYAxis}}</div>
                        <div class="x">{{lineXAxis}}</div>
                        <!-- Data -->
                        <li ng-repeat="dot in likesData" class="dot"
                            style="bottom:{{dot.value / maxTwo * height}}px; left:{{($index + 0.5) / likesData.length * width}}px;">
                            <span>{{dot.label}} - {{dot.value}}</span></li>
                </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

